.input-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dataInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataOutput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-text {
  font-size: 26px;
  color: blue;
}
.input-text {
  font-size: 20px;
  color: grey;
  font-weight: bold;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.addInfo-btn {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
input {
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
  padding: 10px 0px;
}

.dataOutput-table th {
  background-color: #0a599b;
  color: white;
  padding: 10px;
  font-size: 20px;
}
.dataOutput {
  margin-top: 20px;
}
.dataOutput-table td {
  padding: 10px 0px;
  font-size: 18px;
}
.delete-btn{
  cursor: pointer;
  border: none;
  font-size: 18px;
  background-color: #fff;
}
.searchTable{
  margin: 20px;
}
